<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desklampstudios.thyroxine" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions required by SyncAdapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Cool authentication stuff -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sync.IodineAuthenticatorActivity"
            android:label="@string/title_activity_iodine_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".news.NewsDetailActivity"
            android:label="@string/title_activity_entry_detail"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".eighth.BlockActivity"
            android:label="@string/title_activity_block"
            android:parentActivityName=".MainActivity" />

        <provider android:name=".news.NewsProvider"
            android:authorities="@string/news_content_authority"
            android:exported="false"
            android:syncable="true"
            android:label="@string/news_provider_name" />

        <!-- Authenticator service for stub login -->
        <service android:name=".sync.StubAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/stub_authenticator" />
        </service>

        <!-- Authenticator service for Iodine login -->
        <service android:name=".sync.IodineAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/iodine_authenticator" />
        </service>

        <!-- SyncAdapter service for News -->
        <service android:name=".news.NewsSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/news_syncadapter" />
        </service>

    </application>
</manifest>
